
body,html {
	//background: #d9d7cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #9d9892;
    line-height: 30px;
    //text-align: center;
	margin: 0; padding: 0; height: 100%; overflow: hidden;
}
#content {position:absolute; left: 0; right: 0; bottom: 0; top: 0px;}

strong { font-weight: 600; }

a, a:hover, a:focus {
	color: #d05a4e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 30px;
    font-weight: 600;
    color: #615c58;
    line-height: 42px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #615c58;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #d05a4e; color: #fff; text-shadow: none; }
::selection { background: #d05a4e; color: #fff; text-shadow: none; }


a.btn {
	height: 45px;
    margin: 0 20px;
    padding: 0 20px;
    vertical-align: middle;
    background: #d05a4e;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a.btn:hover { opacity: 1; color: #fff; background: #dc857c; }

a.btn:active { outline: 0; opacity: 1; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

a.btn:focus { outline: 0; opacity: 1; background: #dc857c; color: #fff; }

a.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 1; background: #dc857c; color: #fff; }



/***** Top content *****/

.inner-bg {
    padding: 40px 0 170px 0;
}

.top-content h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
	color: #fff;
}

.top-content .description a { color: #fff; border-bottom: 2px dotted #fff; }
.top-content .description a:hover, 
.top-content .description a:focus { border: 0; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding-top: 40px;
}

.form-top {
	padding: 25px 25px 15px 25px;
	background: #f7f4ed;
	text-align: left;
}

.form-top h3 { margin-top: 0; }

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #ebe6e0;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #d05a4e;
}
.bottom-wrapper { position:fixed; bottom:0px; background-color: rgba(230,165,30,0.6); width:100%; height: 90px;}
.bottom-content	{ float:left; width:100%;}
.bottom-logo { float:left; }
.bottom-data { float:left; width:80%; height: 90px; line-height: 90px; vertical-align: middle; }
.cta-message-button { text-align:center; color: white;}
.cta-message-button p {}
.cta-message-button p span { font-size: 18px; font-weight: 800; display: inline-block; vertical-align: middle; line-height: normal; }
.cta-message-button p span a { font-size: 17px; }
.bottom-shares { float:left; width:10%; }

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
	.inner-bg { padding: 40px 0 110px 0; }

}
